<DOCCTYPE html>
<html lang="en">
<body>

{% if heavy_items %}
    <ul>
    {% for box in heavy_items %}
        <li>{{ box.box_name }} : {{box.box_color}} : {{box.mass}}kg
        -- <a href="../box{{box.pk}}">unnamed (args) link</a> 
        -- <a href="{% url 'args' box.pk %}">unnamed (generated args) link </a> 
        -- <a href="../bbox{{box.pk}}">named (kwargs) link</a>
        -- <a href="{% url 'kwargs' box.pk %}">named (generated kwargs) link </a> 
        -- <a href="{% url 'class' box.pk %}">detail view</a> 
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No boxes are available.</p>
{% endif %}


<!--<a href="/st/">Return home</a>-->
<a href="{% url 'home' %}">Return home</a>
</body>
</html>

